* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: black;
}

.navbar .nav-item {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #bbb;
}

.navbar img {
    float: left;
    border-right: 1px solid #bbb;
}

.fiximg {
    width: 110px;
    height: 60px;
}

.center {
    text-align: center;
    font-size: 60px;
}

.character {
    background-color: crimson;
    border-radius: 20px;
    height: 500px;
    width: 650px;
    margin: 10px;
    object-fit: contain;
}

.title {
    text-align: center;
    font-size: 50px;
}

.main-container {
    background-color: rgba(22, 22, 92, 0.986);
    display: flex;
    align-items: stretch;
}

.image a img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.left-side-text {
    width: 35%;
    position: relative;
    left: 15%;
    color: white;
    background-color: rgb(133, 27, 27);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
}

cite {
    font-style: normal;
}

.stay-right {
    text-align: right;
}

.quote {
    background-color: rgb(204, 78, 78);
}

.right-side-text {
    width: 35%;
    position: absolute;
    left: 50%;
    text-align: center;
    color: white;
}

.tabs {
    list-style: none;
    padding: 0;
}

.char {
    background-color: rgb(173, 13, 13);
    padding-top: 5px;
    padding-bottom: 5px;
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: gold;
}

.tabs {
    display: inline;
}

span[id="type"] {
    color: rgba(255, 217, 0, 0.493);
}

.image-container {
    background-color: rgb(133, 27, 27);
}

.group-data {
    background-color: rgb(173, 13, 13);
}

.item-spacing {
    display: flex;
    justify-content: left;
    flex-direction: row;
    justify-items: center;
    line-height: 40px;
    border-top: 1px solid gold;
}

.item-spacing:first-of-type {
    border: none;
}

.label {
    width: 27%;
    text-align: left;
    padding-left: 5px;
    border-right: 1px solid gold;
    background-color: rgb(173, 13, 13);
}

.value {
    padding-left: 15px;
    text-align: left;
    background-color: rgb(102, 71, 31);
    width: 73%;
}

.link {
    color: rgba(255, 217, 0, 0.781);
    text-decoration: none;
}

.link:hover {
    color: rgba(255, 217, 0, 0.493);
    text-decoration: underline;
}

.container #dataDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}